* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-size: 18px; */
}

.container {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 95%);
}

.header-container {
    background: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 33.7em;
}

/* General navbar styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em 1.2em;
    position: relative;
}

.nav-links {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
}

/* Mobile navbar styles */
.mobile-nav {
    /* border: 2px solid rgb(51, 251, 33); */
    display: none;
    width: 90%;
    position: absolute;
    top: 120%;
    left: 5%;
    text-align: center;
    z-index: 100;
}

.mobile-nav.active {
    display: block;
}

.mobile-links { 
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 1.5em;
}

.mobile-link {
    padding: .85em 0;
}

.mobile-link a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25em;
    line-height: 1.56em;
    color: hsl(232, 10%, 55%);
}

.contacts-mobile {
    padding: 2em 0;
}

.contacts-mobile a {
    font-family: 'Fraunces', serif;
    font-size: .937em;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    background-color: hsl(51, 100%, 49%);
    border-radius: 1.75em;
    padding: 1.2em 2.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid hsl(0, 0%, 100%);
    border-bottom: 25px solid transparent;
    position: absolute;
    top: -23px;
    right: 0;
}

.hamburger-menu {
    cursor: pointer;
}

.mobile-nav.active + .hamburger-menu img {
    opacity: .5;
}

.desktop-nav {
    display: none;
}

/* Header Hero */
.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2.5em;
}

.header-title {
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 49px;
    letter-spacing: 6.25px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
}

.arrow-container {
    transform: scaleX(.835) scaleY(.95);
}
/* End pf header section */

/* Main Section */
/* Cards section */

.card-img img {
    width: 100%;
    display: block;
}

.card-info {
    padding: 1.75em;
    text-align: center;
}

.card-info h2 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    line-height: 39px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.card-info p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
    line-height: 24px;
    color: hsl(232, 10%, 55%);
}

.learn-more {
    padding-top: 1em;
    padding-bottom: 3em;
}

.learn-more a {
    font-family: 'Fraunces', serif;
    font-size: .9375em;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px; 
    color: hsl(212, 27%, 19%); 
    text-transform: uppercase;
    text-decoration: none;
}

.line-through {
    width: 137px;
    height: 10px;
    margin: -10px auto;
    border-radius: 28px;
    mix-blend-mode: multiply;
    opacity: 0.25;
}

.yellow-line {
    background-color: hsl(51, 100%, 49%);
}

.red-line {
    background: hsl(7, 99%, 70%);
}

.card-full-img {
    position: relative;
}

.card-full-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 3em 1em;
}

.card-full-info h2 {
    font-family: 'Fraunces', serif;
    font-size: 1.75em;
    font-weight: 900;
    line-height: 34.52px; 
}

.card-full-info P {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    line-height: 27px;
}

.graphic-design h2, 
.graphic-design p {
    color: hsl(167, 40%, 24%);
}

.photography h2, 
.photography p {
    color: hsl(198, 62%, 26%);
}

/* Testimonials Section */
.testimonial-section {
    padding-bottom: 1.5em;
}

.testimonial-header {
    font-family: 'Fraunces', serif;
    font-size: 1em;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: hsl(210, 4%, 67%);
    padding: 3em 1em;
}

.testimonial-card {
    text-align: center;
    margin-bottom: 4em;
    padding: 0em 1.5em;
}

.testimonial-card  img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.testimonial-text {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
    line-height: 32px;
    color: hsl(213, 9%, 39%);
    margin: 1.5em 0 2em;
}

.client-name {
    font-family: 'Fraunces', serif;
    font-size: 1.125em;
    font-weight: 900;
    line-height: 22px;
}

.client-name span {
    font-family: 'Barlow', sans-serif;
    font-size: .875em;
    line-height: 25px;
    color: hsl(210, 4%, 67%);
}
/* End of Testimonials Section */

/* Footer Section */
.footer-section {
    background-color: hsl(168, 44%, 70%);
}

.img-container {
    display: flex;
}

.footer-img-container img {
    width: 100%;
    display: block;
}

.footer-info-container {
    margin: 0 auto;
}

.footer-logo {
    padding-top: 2em;
}

.footer-logo svg {
    fill: hsl(168, 45%, 32%);
    display: block;
    margin: 0 auto;

}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0 0 0; 
}

.footer-link a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
    line-height: 25px;
    color: hsl(168, 34%, 41%);
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    padding: 3.5em;
}

.social-media svg {
    fill: hsl(168, 45%, 32%);
}

.attribution {
    font-family: 'Barlow', sans-serif;
    font-size: .75em;
    text-align: center;
    color: hsl(168, 34%, 41%);
    padding-bottom: 1em;
}

.attribution a {
    text-decoration: none;
    color: hsl(168, 45%, 32%);
}

/* Desktop Styles */
@media screen and (min-width: 950px) {
    /* Turn off mobile nav */
    .hamburger-menu {
        display: none;
    }

    /* Main Container */
    .container {
        /* max-width: 1440px;
        margin: 0 auto; */
    }

    /* Header Section */

    .header-container {
        background: url('../images/desktop/image-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 94vh;
    }

    .navbar-container {
        padding: 2em;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-links {
        display: flex;
        justify-content:flex-end;
        padding: 0;
        margin: 0;
    }

    .desktop-link {
        margin-left: 2.9em;
    }

    .desktop-link a {
        font-family: 'Barlow', sans-serif;
        font-size: 1.125em;
        line-height: 25px;
        color: hsl(0, 0%, 100%);
    }

    .contacts-desktop a {
        font-family: 'Fraunces', serif;
        font-size: .9375em;
        line-height: 25px;
        text-transform: uppercase;
        color: #24303E;
        background-color: hsl(0, 0%, 100%);
        padding: 1em 2em;
        border-radius: 1.75em;
    }

    .contacts-desktop a:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsla(0, 0%, 100%, 0.30);
    }

    /* Header Hero */
    .header-title-container {
        margin: 5em 0 0;
    }

    .header-title {
        font-size: 3.5em;
        line-height: 69px;
        letter-spacing: 8.75px;
        margin-bottom: 1.6em;
    }

    /* Card Section */
    .card-container {
        display: flex;
    }

    .img-right {
        flex-direction: row-reverse;
    }
   
    .card-img {
        width: 50%;
    }

    .card-info {
        width: 50%;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 5.5em 0 8em; 
    }
    
    .card-info h2 {
        font-size: 2.5em;
        line-height: 49px;
        margin: 0;
    }
    
    .card-info p {
        line-height: 30px;
    }

    .line-through {
        margin: -10px;
    }

    .card-full-info {
        padding: 0 9em 3em 9em  ;  
    }

    /* Testimonial Section */
    .testimonial-header {
        padding-top: 6em;
    }

    .testimonial-container {
        display: flex;
        padding: 0 2em;
    }
    
    .testimonial-card {
        padding: 0 .85em;       /* border: 2px solid red; */
    }

    /* Footer Section */
    .footer-img-container {
        display: flex;
    }

    .footer-logo {
        padding-top: 4em;
    }

    .footer-nav {
        padding-top: 1em;
    }

    .footer-links {
        display: flex;
        justify-content: center;
    }

    .social-media {
        justify-content: center;
        /* padding: 4em; */
    }

    .footer-link {
        padding: 0 1.5em;
    }

    .social-media li a {
        padding: 0 1em;
    } 

    .footer-link a:hover,
    .social-media svg:hover,
    .attribution a:hover {
        color: hsl(0, 0%, 100%);
        fill: hsl(0, 0%, 100%);
    }
    
    .attribution {
        text-align: end;
        padding: 0 5em 2em 0;
    }
}   

